*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(/movie/src/fonts/RobotoCondensed-Regular.ttf);
}

body{
    background-color: rgb(238, 238, 238);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

.searchMain{
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

input{
    width: 400px;
    height: 50px;
    border-radius: 50px 0 0 50px;
    outline: none;
    border: 2px solid rgb(171, 171, 171);
    border-right: none;
    padding-left: 26px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 17px;
}

input::placeholder{
    font-style: italic;
}

button{
    width: 80px;
    height: 50px;
    border-radius: 0 50px 50px 0;
    outline: none;
    border: none;
    background-color: #007BFF;
    border: 1px solid #007BFF;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 17px;
    cursor: pointer;
}

.cards{
    width: 1300px;
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: space-between;
    row-gap: 50px;
}

.card{
    width: 270px;
    height: 520px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.img{
    width: 100%;
    height: 400px;
    overflow: hidden;
    position: relative;
}

.img img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.img::after{
    content: "";
    position: absolute;
    left: -200px;
    top: 0;
    width: 0px;
    height: 100%;
    background: linear-gradient(to right, #ec7532 0%,#fbbd61 100%);
    opacity: .9;
    transition: .5s;
    transform: skew(45deg);
}

.img:hover::after{
    width: 250%;
}

.img:hover .imgText{
    opacity: 1;
    transform: translate(-50%, -50%) scale(100%);
}

.imgText{
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(90%);
    position: absolute;
    z-index: 5000;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    opacity: 0;
    transition: .5s;
}

.cardPlay{
    width: 76px;
    height: 76px;
    border: 2px solid white;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.cardPlay:hover{
    transform: scale(92%);
}

.bi-play-fill{
    transition: .3s;
}

.cardPlay:hover .bi-play-fill{
    opacity: .6;
}

.cardPlay i{
    padding-left: 4px;
    padding-top: 4px;
    font-size: 20px;
}

.cardBottom{
    height: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.title{
    color: #000000;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0 12px;
    text-align: center;
    font-size: 18px;
}

.rating{
    font-family: Roboto;
    font-weight: 500;
    color: gray;
    display: flex;
    
    gap: 8px;
}

.text4{
    color: white;
    font-family: Roboto;
    letter-spacing: 3px;
    font-size: 12px;
}

.text5{
    color: white;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 500;
}

.fa-star{
    color: #fbbd61;
}

@media only screen and (max-width: 1400px) {
    .cards{
        width: 1000px;
        grid-template-columns: repeat(3, auto);
    }
}

@media only screen and (max-width: 1080px) {
    .cards{
        width: 600px;
        grid-template-columns: repeat(2, auto);
    }
}

@media only screen and (max-width: 680px) {
    .cards{
        width: 280px;
        display: flex;
        flex-direction: column;
    }

    input{
        width: 230px;
        border-radius: 4px;
        padding-left: 14px;
    }

    button{
        width: 50px;
        border-radius: 0 5px 5px 0;
    }
}